
.App {
    background: url("./assets/hangman-background.jpg");
    height: 100vh;
    width: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    font-weight: bold;
}

h1 {
    margin: 0;
    font-size: 50px;
}

h3 {
    margin: 0 20%;
}

.gameArea {
    width: 100%;
}

img {
    border: 15px solid white;
    margin-top: 5%;
    height: 250px;
}

#underscores {
    letter-spacing: 10px;
    font-size: 30px;
}

.buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 35%;
    margin: auto;
}

.letterBtn {
    background-color: #ffc107;
    border-style: none;
    border-radius: 20%;
    height: 30px;
    width: 30px;
    box-shadow: 0 5px #ff9800;
    color: white;
    font-size: 18px;
    font-family: 'Coming Soon';
    margin: 5px 2px;
    font-weight: bold;
}

.letterBtn:disabled {
    background-color: #bdbdbd;
    box-shadow: 0 5px #a1a1a1;
}

#resetBtn {
    border-style: none;
    border-radius: 10px;
    margin-top: 15px;
    width: 90px;
    height: 35px;
    font-size: 18px;
    background-color: #ee0e0e;
    color: white;
    font-family: 'Coming Soon';
    font-weight: bold;
}

